#header {
	position: absolute;
	height: 100px;
	width: 100%;
	top: 0px;
	left:0px;
	border-bottom: 1px solid #999D9E;
}

#left {
	position: absolute;
	top: 100px;
	width: 150px;
	height: 100%;
	left: 0px;
	border-right: 1px solid #999D9E;
}

#content {
	position: absolute;
	top: 100px;
	left: 150px
}

.top10 {
	margin-top: 10px;	
}
#contentMsg {
	margin-top: 20px;
	text-align: center;
}

#leftContent {
	margin-left: 10px;
}
