#loginMain {
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

#password {
	margin-top: 20px;
}

#loginBtnDiv {
	margin-top: 20px;
}

.loginInput {
	width:200px;
	height: 25px;
}

#loginBtn {
	width:100px;
	height:28px;
}